name: Simple CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  ci-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run application
        run: |
          chmod +x app.sh
          ./app.sh

      - name: Run tests
        run: |
          chmod +x test.sh
          ./test.sh

